#encoding: utf-8
<% provide(:title, 'Datos de solicitud de subsidio para asistencia técnica para teatro independiente') %>
<h1>Datos de solicitud de subsidio para asistencia técnica para teatro independiente</h1>

</br>
<p>
  <b>Año de inicio:</b>
  <%= I18n.l(@asist_tec.anio_inicio) %>
</p>

<p>
  <b>Nombre del grupo:</b>
  <%= @asist_tec.nombre_grupo %>
</p>

<p>
  <b>Número de registro:</b>
  <%= @asist_tec.num_registro %>
</p>

<p>
  <b>Nombre del responsable:</b>
  <%= @asist_tec.nombre %>
</p>

<p>
  <b>Apellido del responsable:</b>
  <%= @asist_tec.apellido %>
</p>

<p>
  <b>Número de Cuit del responsable:</b>
  <%= @asist_tec.num_cuit %>
</p>

<p>
  <b>Domicilio del responsable:</b>
  <%= @asist_tec.domicilio %>
</p>

<p>
  <b>Localidad del responsable:</b>
  <%= @asist_tec.localidad %>
</p>

<p>
  <b>Codigo Postal del responsable:</b>
  <%= @asist_tec.codigo_postal %>
</p>

<p>
  <b>Provincia del responsable:</b>
  <%= @asist_tec.provincia %>
</p>

<p>
  <b>Email del responsable:</b>
  <%= @asist_tec.email %>
</p>

<p>
  <b>Telefono del responsable:</b>
  <%= @asist_tec.telefono %>
</p>

<p>
  <b>Monto solicitado:</b>
  <%= @asist_tec.monto_letra %>
</p>

<p>
  <b>Monto solicitado (en números):</b>
  <%= @asist_tec.monto_numero %>
</p>

<h3>Integrantes del grupo</h3>
  <% @integrantes = @asist_tec.integrantes_asist_tec.all %>
  <table class="table table-striped">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>DNI</th>
      <th>Fecha de nacimiento</th>
      <th>Domicilio</th>
      <th>Correo Electrónico</th>
      <th>Teléfono</th>
      <th>Rol</th>
    </tr>

    <%= content_tag_for(:tr, @integrantes) do |integrante| %>

      <td><%= integrante.nombre %></td>
      <td><%= integrante.apellido %></td>
      <td><%= integrante.dni %></td>
      <td><%= I18n.l(integrante.fecha_nacimiento) %></td>
      <td><%= integrante.domicilio %></td>
      <td><%= integrante.email %></td>
      <td><%= integrante.telefono %></td>
      <td><%= integrante.rol %></td>
      
    <% end %>
  </table>
</br>
</br>
<%= link_to t('Volver'), asist_tecs_path %>