<%= label_tag :institucion, 'Institución' %>
<%= text_field_tag :institucion %><br>

<p>Estado del apoyo</p>
<div id="estado_seleccionado">
  <% [ 1, 2 ].each do |estado_recibido| %>
    <%= radio_button_tag :estado_recibido, estado_recibido %>
    <%= FuncionamientoSalaV2::ESTADO_DEL_APOYO.key(estado_recibido).to_s %>
  <% end %>
</div>
</br>
<input type="button" value="Agregar" id="agregar_institucion_de_apoyo", class="input-small"> </br>
<div id="tabla_agregar_y_quitar_institucion" >
  <%= render "tabla_instituciones_que_dieron_apoyo"  %> 
</div>