<%= label_tag :nombre, 'Nombre' %>
<%= text_field_tag :nombre %><br>

<%= label_tag :apellido, 'Apellido' %>
<%= text_field_tag :apellido %><br>

<%= label_tag :dni, 'DNI' %>
<%= text_field_tag :dni %><br>

<%= label_tag :proyecto_en_el_que_participa, 'Proyecto en el que participa' %>
<%= text_field_tag :proyecto_en_el_que_participa %><br>

<%= label_tag :tipo_subsidio_solicitado, 'Tipo de subsidio solicitado al INT' %>
<%= text_field_tag :tipo_subsidio_solicitado %><br>
<input type="button" value="Agregar" id="agregar_integrante_proyecto_subsidio", class="input-small"> </br>

<div id="tabla_agregar_y_quitar_integrantes" >
  <%= render "tabla_integrantes_que_participan_en_otro_proyecto"  %> 
</div>