<%= label_tag :institucion, 'Institución' %>
<%= text_field_tag :institucion %><br>

<%= label_tag :estado_de_apoyo, 'Estado del apoyo' %>
<%= text_field_tag :estado_de_apoyo %><br>

<input type="button" value="Agregar" id="agregar_institucion_de_apoyo", class="input-small"> </br>
<table class="table">
    <thead>
      <tr>      
        <th>Institución</th>
        <th>Estado del apoyo (solicitado / recibido)</th>   
        <th></th>   
      </tr>
    </thead>
    <tbody>
      <%  @func_sala.instituciones_que_dieron_apoyo.each do |institucion| %>
        <tr>        
          <td><%= institucion.institucion %></td>
          <td><%= institucion.estado_de_apoyo %></td>    
          <td><%= link_to 'Eliminar', funcionamiento_sala_v2_institucion_que_dieron_apoyo_path(@func_sala, institucion), method: :delete,:remote => true, data: { confirm: '¿Estas seguro?' } %></td>                                  
        </tr>
      <% end %>
    </tbody>
</table>