#encoding: utf-8
<% provide(:title, 'Editar formulario de solicitud de subsidio funcionamiento de sala o espacio de teatro independiente V2') %>
<h1>Actualización de formulario de solicitud de subsidio funcionamiento de sala o espacio de teatro independiente V2</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @func_sala do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= f.label :nombre_sala, "Nombre de la sala / espacio teatral" %>
      <%= f.text_field :nombre_sala %>

      <%= f.hidden_field :id %>

      <%= f.label :fecha_inicio_sala,"Fecha de inicio"  %>
      <%= f.text_field :fecha_inicio_sala %>  

      <%= f.label :domicilio_sala, "Domicilio de la sala" %>
      <%= f.text_field :domicilio_sala %>

      <%= f.label :localidad_sala, "Localidad de la sala" %>
      <%= f.text_field :localidad_sala %>

      <%= f.label :codigo_postal_sala, "Codigo Postal de la sala" %>
      <%= f.text_field :codigo_postal_sala %>

      <%= f.label :provincia_sala, "Provincia de la sala" %>
      <%= f.text_field :provincia_sala %>

      <%= f.label :descripcion_proyecto, "Descripción del proyecto previsto y objetivos principales" %>
      <%= f.text_area :descripcion_proyecto %>

      <%= f.label :descripcion_estrategias, "Descripción de las estrategias" %>
      <%= f.text_area :descripcion_estrategias %></br>

      <div class="form-inline">
      <p>Registros de plan de pagos:</p>
        <%= label_tag :rubro %>
        <%= text_field_tag :rubro, nil,  class: "input-small" %>
        <%= label_tag :monto %>
        <%= text_field_tag :monto, nil, class: "input-small"%> 
        <input type="button" value="Agregar" id="agregar_registro_de_plan", class="input-small"> </br>
      </div>
      </br>

      <div id="tabla_registro_de_pagos"> 
        <% if !@func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.nil? && @func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.length > 0 %>
        <table class="table">
            <thead>
              <tr>      
                <th>Rubro</th>
                <th>Monto</th>    
                <th>Acción</th>  
              </tr>
            </thead>
            <tbody>
              <% @func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.each do |registro| %>
                <tr>        
                  <td><%= registro.rubro %></td>
                  <td><%= registro.monto %></td>    
                  <td><%= link_to 'Eliminar', funcionamiento_sala_v2_registro_plan_de_gasto_de_funcionamiento_de_sala_path(@func_sala, registro), method: :delete,:remote => true, data: { confirm: '¿Estas seguro?' } %></td>      
                </tr>
              <% end %>
            </tbody>
            <tfoot>
                <tr>  
                  <td>TOTAL</td>
                  <td><%= @func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.sum(:monto) %></td> 
                </tr> 
            </tfoot>

          </table>
          <br>
        <% end %>
      </div>       

      <p>¿Solicita subsidio por primera vez?</p>
      <div class="form-inline">
          <% @si = true %>
          <% @no = false %>
        <% unless @func_sala.try(:solicitud_de_subsidio_por_primera_vez) %>
          <% @si = false %>
          <% @no = true %>
        <% end %>
          <%= f.label :solicitud_de_subsidio_por_primera_vez, 'No', :value => 'No'%>
          <%= f.radio_button :solicitud_de_subsidio_por_primera_vez, 'false', :checked => @no %>
          <%= f.label :solicitud_de_subsidio_por_primera_vez, 'Si', :value => 'Si' %>
          <%= f.radio_button :solicitud_de_subsidio_por_primera_vez, 'true', :checked => @si %>
      </div>

      <% unless @func_sala.solicitud_de_subsidio_por_primera_vez %>        
            <div id="div_datos_subsidio_primera_vez" class="span6 offset1"> 
               <%= render 'datos_subsidio_primera_vez', :object => f.object %>
            </div>
        <% else %>
            <div id="div_datos_subsidio_primera_vez" class="span6 offset1">
            </div>
            <br>
      <% end %> 

      <p>¿Algún integrante participa en otro proyecto que haya solicitado subsidio al INT en el periodo que se solicita subsidio?</p>
          <% @si_integrante = false 
             @no_integrante = true        
          if !@func_sala.integrantes_participa_proyecto_subsidio.nil? && @func_sala.integrantes_participa_proyecto_subsidio.count > 0 
           @si_integrante = true
           @no_integrante = false 
          end %>

      <div class="form-inline">
        <%= label_tag :algun_integrante_participa, 'No', :value => 'No' %>
        <%= radio_button_tag :algun_integrante_participa, 'false', @no_integrante %>

        <%= label_tag :algun_integrante_participa, 'Si', :value => 'Si' %>
        <%= radio_button_tag :algun_integrante_participa, 'true', @si_integrante  %> </br>
      </div>

      <% if !@func_sala.integrantes_participa_proyecto_subsidio.nil? && @func_sala.integrantes_participa_proyecto_subsidio.count > 0 %>      
          <div id="div_datos_integrantes_que_participan_en_otro_proyecto"> 
             <%= render "datos_integrantes_que_participan_en_otro_proyecto", :object => f.object  %> 
          </div>
      <% else %>
          <div id="div_datos_integrantes_que_participan_en_otro_proyecto">
          </div>
          <br>
      <% end %> 

      <p>¿La Sala, solicitó y/o recibió otro apoyo institucional para este funcionamiento?</p>
      <% @si = false 
         @no = true        
      if !@func_sala.instituciones_que_dieron_apoyo.nil? && @func_sala.instituciones_que_dieron_apoyo.count > 0 
       @si = true
       @no = false 
      end %>

      <div class="form-inline">
        <%= label_tag :solicito_apoyo, 'No', :value => 'No' %>
        <%= radio_button_tag :solicito_apoyo, 'false', @no %>

        <%= label_tag :solicito_apoyo, 'Si', :value => 'Si' %>
        <%= radio_button_tag :solicito_apoyo, 'true', @si  %> </br>
      </div>

      <% if !@func_sala.instituciones_que_dieron_apoyo.nil? && @func_sala.instituciones_que_dieron_apoyo.count > 0 %>      
          <div id="div_datos_instituciones_que_dieron_apoyo"> 
             <%= render "datos_instituciones_que_dieron_apoyo", :object => f.object  %> 
          </div>
      <% else %>
          <div id="div_datos_instituciones_que_dieron_apoyo">
          </div>
          <br>
      <% end %> 

      <p>Monto solicitado al Instituto Nacional del Teatro</p>

      <%= f.label :monto_letra, "Son Pesos" %>
      <%= f.text_field :monto_letra %>

      <%= f.label :monto_numero, "$ (en números)" %>
      <%= f.text_field :monto_numero %>
      </br>

      <%= f.submit "Confirmar Cambios", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</br>
</br>
<%= link_to t('Volver'), funcionamiento_salas_path %>