#encoding: utf-8
<% provide(:title, 'Editar formulario de solicitud de subsidio funcionamiento de sala o espacio de teatro independiente V2') %>
<h1>Actualización de formulario de solicitud de subsidio funcionamiento de sala o espacio de teatro independiente V2</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @func_sala do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%= f.hidden_field :id %>

      <%= f.label :descripcion_proyecto, "Descripción del proyecto previsto y objetivos principales" %>
      <%= f.text_area :descripcion_proyecto %>

      <%= f.label :descripcion_estrategias, "Descripción de las estrategias" %>
      <%= f.text_area :descripcion_estrategias %></br>

      <div class="form-inline">
      <p>Detalle del plan de gastos total del funcionamiento (discriminado por rubros):</p>
        <%= label_tag :rubro %>
        <%= text_field_tag :rubro, nil,  class: "input-small" %>
        <%= label_tag :monto %>
        <%= text_field_tag :monto, nil, class: "input-small"%> 
        <input type="button" value="Agregar" id="agregar_registro_de_plan", class="input-small"> </br>
      </div>
      </br>

      <div id="tabla_registro_de_pagos"> 
        <% if !@func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.nil? && @func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.length > 0 %>
        <table class="table">
            <thead>
              <tr>      
                <th>Rubro</th>
                <th>Monto</th>    
                <th>Acción</th>  
              </tr>
            </thead>
            <tbody>
              <% @func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.each do |registro| %>
                <tr>        
                  <td><%= registro.rubro %></td>
                  <td><%= registro.monto %></td>    
                  <td><%= link_to 'Eliminar', funcionamiento_sala_v2_registro_plan_de_gasto_de_funcionamiento_de_sala_path(@func_sala, registro), method: :delete,:remote => true, data: { confirm: '¿Estas seguro?' } %></td>      
                </tr>
              <% end %>
            </tbody>
            <tfoot>
                <tr>  
                  <td>TOTAL</td>
                  <td><%= @func_sala.registros_plan_de_gasto_de_funcionamiento_de_sala.sum(:monto) %></td> 
                </tr> 
            </tfoot>

          </table>
          <br>
        <% end %>
      </div>

      <p>Monto solicitado al Instituto Nacional del Teatro</p>

      <%= f.label :monto_letra, "Son Pesos" %>
      <%= f.text_field :monto_letra %>

      <%= f.label :monto_numero, "$ (en números)" %>
      <%= f.text_field :monto_numero %>
      </br>

      <p>¿Solicita subsidio por primera vez?</p>
      <div>
        <% @solicitud = @func_sala.try(:solicitud_de_subsidio_por_primera_vez) %>
        <% [ 'true', 'false' ].each do |solicitud| %>
          <%= f.radio_button :solicitud_de_subsidio_por_primera_vez, solicitud, :checked => @solicitud.to_s == solicitud %>
          <% if solicitud == 'true' %>
            <%= 'Si' %>
          <% else %>
            <%= 'No' %>
          <% end %>
        <% end %>
      </div>

       <% if !@func_sala.solicitud_de_subsidio_por_primera_vez.nil? && !@func_sala.try(:solicitud_de_subsidio_por_primera_vez) %>
            <div id="div_datos_subsidio_primera_vez" class="span6 offset1"> 
               <%= render 'datos_subsidio_primera_vez', :object => f.object %>
            </div>
        <% else %>
            <div id="div_datos_subsidio_primera_vez" class="span6 offset1">
            </div>
            <br>
      <% end %> 

      <p>¿Algún integrante participa en otro proyecto que haya solicitado subsidio al INT en el periodo que se solicita subsidio?</p>

      <div>
        <% @participa = @func_sala.try(:algun_integrante_participa) %>
        <% [ 'true', 'false' ].each do |participa| %>
          <%= f.radio_button :algun_integrante_participa, participa, :checked => @participa.to_s == participa %>
          <% if participa == 'true' %>
            <%= 'Si' %>
          <% else %>
            <%= 'No' %>
          <% end %>
        <% end %>
      </div>

      <% if @func_sala.try(:algun_integrante_participa) %>      
          <div id="div_datos_integrantes_que_participan_en_otro_proyecto"> 
             <%= render "datos_integrantes_que_participan_en_otro_proyecto", :object => f.object  %> 
          </div>
      <% else %>
          <div id="div_datos_integrantes_que_participan_en_otro_proyecto">
          </div>
          <br>
      <% end %> 

      <p>¿La Sala, solicitó y/o recibió otro apoyo institucional para este funcionamiento?</p>

      <div>
        <% @solicito = @func_sala.try(:solicito_apoyo) %> 
        <% [ 'true', 'false' ].each do |solicito| %>
          <%= f.radio_button :solicito_apoyo, solicito, :checked => @solicito.to_s == solicito %>
          <% if solicito == 'true' %>
            <%= 'Si' %>
          <% else %>
            <%= 'No' %>
          <% end %>
        <% end %>
      </div>

       <% if @func_sala.try(:solicito_apoyo) %>            
          <div id="div_datos_instituciones_que_dieron_apoyo"> 
             <%= render "datos_instituciones_que_dieron_apoyo", :object => f.object  %> 
          </div>
      <% else %>
          <div id="div_datos_instituciones_que_dieron_apoyo">
          </div>
          <br>
      <% end %> 

      <%= f.submit "Confirmar Cambios", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</br>
</br>
<%= link_to t('Volver'), root_path %>